@page
@model Projekt_IOP.Pages.Clients.IndexModel
@{

}

<h2>List of contacts</h2>
<a class="btn btn-primary btn-sm" href="/Clients/Create">Dodaj</a>
<table class="table">
	<thead>
		<tr class="text-white">
			<th>Imie<th>
			<th>Nazwisko<th>
			<th>Email<th>
			<th>Płeć<th>
			<th>Kraj<th>
			<th>Miasto<th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>
