@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="content-container">
    
        <h1>Menedzer kontakow</h1>
        <div class="list-bg bg-white text-black p-5">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare elit ipsum, ut vehicula leo accumsan in. Vivamus tincidunt, arcu id feugiat suscipit, purus eros dignissim magna, vel molestie nibh dolor dapibus risus. Quisque varius metus eget tristique dictum. Vivamus bibendum mollis sem non tincidunt. Pellentesque id urna leo. Nunc vel lacus nec lectus condimentum dignissim. Duis placerat purus ante, in laoreet leo dictum sit amet. Fusce augue eros, facilisis eget erat eleifend, sollicitudin euismod tellus. Nunc viverra non mauris eget rutrum. Quisque tincidunt dui lorem, in malesuada augue tempus fermentum.

                Suspendisse vitae lorem eu orci rutrum ornare eu non mauris. Fusce accumsan erat et facilisis condimentum. Donec faucibus rhoncus egestas. Donec sed leo ipsum. In malesuada rutrum pulvinar. Pellentesque tristique laoreet est, vitae fermentum diam placerat in. Curabitur erat libero, mollis vitae libero vitae, pulvinar semper ipsum. Aliquam convallis sapien convallis tempus aliquet. In vitae ultricies urna. Praesent tellus erat, sodales nec ipsum sit amet, volutpat egestas felis. Vivamus tempus orci ac magna mollis aliquet. Cras a faucibus nisl. Integer consequat arcu eu tincidunt mattis. Aliquam libero risus, imperdiet a libero vitae, faucibus pulvinar leo. Integer quis tincidunt quam.

                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ullamcorper, sapien sit amet semper accumsan, lorem est bibendum felis, ac vestibulum quam orci nec risus. Nam porttitor mauris fringilla, fringilla tellus et, eleifend lectus. Vestibulum vitae sagittis est. Quisque dictum odio et bibendum gravida. Praesent sed arcu massa. Praesent eu est id nisi tristique accumsan. Morbi tortor dui, ultrices eget tellus vel, iaculis maximus augue. Curabitur nec tristique metus, in auctor diam.

                Nulla vitae nibh tempor, convallis elit a, egestas nisl. Cras semper est orci, vitae tempus nisi cursus consectetur. Morbi egestas, nisl ut rhoncus iaculis, purus metus interdum turpis, ut pretium enim est id mauris. Donec sit amet turpis aliquet, vehicula urna sed, eleifend diam. In porta justo in imperdiet dapibus. Nullam porttitor posuere ipsum pellentesque maximus. Integer nisi lectus, pellentesque nec ultrices eget, dignissim at sapien.

                Vestibulum nisl nulla, porttitor sed lectus vitae, tincidunt tempus velit. Proin consectetur justo quam, quis blandit ex efficitur sit amet. Ut nec fermentum ex. Maecenas a aliquet lectus. Donec porttitor nulla odio, vel dignissim dui varius volutpat. Sed tempor, augue non maximus ultricies, sapien turpis pellentesque nibh, sed vulputate elit eros vel diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam ligula felis, maximus eget risus et, rhoncus iaculis dolor. Mauris consequat sapien at auctor porta.
            </p>
        </div>
    
</div>