@page
@model SelfConfigModel
@{
    ViewData["Title"] = "Ulubione";
}

<div class="content-container">
    <div class="self-group-input">
        <h2>Dane osobowe</h2>
        <input type="text" placeholder="Imie"></input>
        <input type="text" placeholder="Nazwisko"></input>

    </div>
    <div class="self-group-input">
        <h2>Kontakt</h2>
    </div>
</div>